.declaration {
  &__form {
    max-width: 400px;
  }
}

.btn-margin {
  margin-right: 20px;
}

.btn-orange {
  background: #ffb424;
  font-size: 14px;
  padding: 12px 40px;
}

.btn-green {
  background: #00802a;
  font-size: 14px;
  padding: 12px 40px;
}
